body {
    font-family: 'Montserrat';
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

#schedule h1, h2, h3 {
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: 5px solid;
}

#schedule h1 {
    border-color: #ff006e;
    font-size: 2em;
    margin-top: 30px;
}

#schedule h2 {
    border-color: #fb5607;
    font-size: 1.75em;
}

#schedule h3 {
    border-color: #ffbe0b;
    font-size: 1.5em;
}


#schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#schedule table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#schedule table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

#schedule table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#schedule ul, ol {
    margin-bottom: 20px;
    padding-left: 40px;
}

#scheduleli {
    margin-bottom: 10px;
}

#schedule p {
    line-height: 1.6;
    margin-bottom: 20px;
}

#schedule a {
    color: #ff006e;
    text-decoration: none;
}

#schedule a:hover {
    text-decoration: underline;
}
